
*.aux

*.log

*.gz

*.toc

*.out

*.blg
*.bbl

*.xopp

Erasmus/Systems Software/Homeworks/practice/

Libera Scelta/Cloud Computing (Concluso)/AlcuneErrate_mergioneDomande-search.pdf

Libera Scelta/Cloud Computing (Concluso)/Cloud Computing.pdf

Libera Scelta/Cloud Computing (Concluso)/compitino2_1.jpg
