[submodule "2° Anno Informatica/Laboratorio II (Concluso)/Progetto-Laboratorio2"]
	path = 2° Anno Informatica/Laboratorio II (Concluso)/Progetto-Laboratorio2
	url = https://github.com/bigmat18/Progetto-Laboratorio2.git
