[submodule "1° Anno Informatica/Programmazione ed Algoritmica (Concluso)/Algorithms-Collection-UNIPI"]
	path = 1° Anno Informatica/Programmazione ed Algoritmica (Concluso)/Algorithms-Collection-UNIPI
	url = https://github.com/bigmat18/Algorithms-Collection-UNIPI.git
[submodule "2° Anno Informatica/Laboratorio II (Concluso)/Progetto-Laboratorio2"]
	path = 2° Anno Informatica/Laboratorio II (Concluso)/Progetto-Laboratorio2
	url = https://github.com/bigmat18/Progetto-Laboratorio2.git
[submodule "Libera Scelta/Computer Grafica (Conclusa)/OpenGLBasic"]
	path = Libera Scelta/Computer Grafica (Conclusa)/OpenGLBasic
	url = https://github.com/bigmat18/OpenGLBasic